body {
    font-family: arial;
    font-size: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

input,
select {
    font-size: 20px;
    margin: 20px
}

.user-list {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.user-list-item {
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-basis: 60%;
    border: 1px rgba(128, 128, 128, 0.507) solid;
}

img {
    padding: 0 30px;
    flex-basis: 10%;
}